{% extends 'base.html' %}

{% block title %}Lista de Horarios - {{ block.super }}{% endblock %}

{% block content %}
<style>
  /* Estilos para alinear correctamente los datos en la tabla */
  .table-horarios th, .table-horarios td {
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 8px; /* Espaciado dentro de las celdas */
    vertical-align: middle; /* Alinea verticalmente el contenido en el medio de la celda */
    white-space: nowrap; /* Asegura que el texto no se pase a la siguiente línea */
  }
  .table-horarios th {
    position: sticky; /* Hace que la cabecera de la tabla sea fija al hacer scroll */
    top: 0;
    background: #fff;
    white-space: normal; /* Permite que los títulos de las columnas se ajusten si es necesario */
  }
  /* Ajusta el ancho de las columnas según sea necesario */
  .table-horarios .columna-dia {
    width: 15%; /* Ajusta el ancho de la columna del día */
  }
  .table-horarios .columna-hora-inicio, .table-horarios .columna-hora-fin {
    width: 10%; /* Ajusta el ancho de las columnas de hora */
  }
</style>
<h2>Lista de Horarios</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-horarios">
                <thead>
                    <tr>
                        <th class="columna-dia">Día</th>
                        <th>Asignatura</th> 
                        <th>Profesor</th>
                        <th class="columna-hora-inicio">Hora de Inicio</th>
                        <th class="columna-hora-fin">Hora de Fin</th>
                        <th>Modalidad</th>
                        <th>Tipo de Asignatura</th>
                        <th>URL Clases Grabadas</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for horario in schedules %}
                        <tr>
                            <td>{{ horario.dia_semana }}</td>
                            <td><a href="{% url 'schedule:detail_schedule' horario.pk %}">{{ horario.asignatura.titulo }}</a></td>
                            <td>{{ horario.asignatura.profesor }}</td>
                            <td>{{ horario.hora_inicio }}</td>
                            <td>{{ horario.hora_fin }}</td>
                            <td>{{ horario.asignatura.modalidad }}</td>
                            <td>{{ horario.asignatura.tipo_asignatura }}</td>
                            <td>
                                {% if horario.asignatura.url_clases_grabadas %}
                                    <a href="{{ horario.asignatura.url_clases_grabadas }}" target="_blank">Ver Clases</a>
                                {% else %}
                                    No Disponible
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'schedule:update_schedule' horario.pk %}" class="btn btn-primary btn-sm">Editar</a>
                                <a href="{% url 'schedule:delete_schedule' horario.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="{% url 'schedule:create_schedule' %}" class="btn btn-primary">Crear nuevo horario</a>
{% endblock %}
