{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Agrega aquí cualquier otra hoja de estilos CSS necesaria -->
</head>
<body>
    <header>
        <h1>Mi Aplicación</h1>
    </header> 
    <nav>
        <ul>
            <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Inicio</a></li>
            <li><a href="{% url 'subject_list' %}"><i class="fas fa-book"></i> Asignaturas</a></li>
            <li><a href="{% url 'schedule:schedule_list' %}"><i class="fas fa-clock"></i> Horarios</a></li>
            <li><a href="{% url 'hworks:activity_list' %}"><i class="fas fa-tasks"></i> Tareas</a></li>

            <!-- Agrega aquí más enlaces para otras secciones si es necesario -->
        </ul>
    </nav>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Agrega aquí cualquier script JavaScript necesario -->

</body>
</html>
